:root {
    --green:rgb(41, 77, 44);
    --darkgreen:rgb(9, 63, 33);
    --darkgreen2:rgb(43, 74, 57);
    --darkgreen3: rgb(138, 138, 112);
    --darkWhite : rgb(232, 226, 226);
    --darkWhite2 : rgb(107, 135, 119); 
    --darkWhite3 : rgb(117, 141, 127);  
 
    --lightgreen : rgb(70, 101, 82); 

    --White : rgb(255, 255, 255);   
    --grey : rgb(165, 178, 171);   
}

@font-face{
    font-family: font1;
    src: url(MPLUSCodeLatin-VariableFont_wdth,wght.ttf)
}
@font-face{
    font-family: font2;
    src: url(SignikaNegative-VariableFont_wght.ttf)
}

@font-face{
    font-family: font3;
    src: url(ZenLoop-Regular.ttf)
}
body {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

}


  /* ------------------------------------------------navBar-------------------------------------- */
  .active{

    font:bold;

}
  /* ---------------------------logInStyle------------- */



/* Full-width input fields */
.logInInputs {
  width: 100%;
  padding: 15px 4px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}


/* Set a style for all buttons */
.logInButton,.cancelbtn{
  background-color: #699b89;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  background-color: #c45048;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-left: 25%;
  text-align:center;
  border-radius: 10px;
  
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  position: relative;
  background-color:  rgb(224, 237, 229);

}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.containerlogIn {
  padding: 10px;
  background-color: rgb(224, 237, 229);
  font-family: font2;
  color: #699b89;
  font-size: 20px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  padding-left: 30%;
  padding-right: 30%;
  
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */

}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.signUpLink{
font-size: 20px;
text-decoration:underline;
color: #c45048;

}
.signUpLink_div{
  background-color: rgb(224, 237, 229);
  text-align: center;

}
.signUpLink:hover{
text-align: center;

}


#loaderBackround{
  background-color:rgb(224, 237, 229) ;
}


#loader {
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  align-items: center;
  margin-left: 40%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #09341c;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  background-color: rgb(224, 237, 229);

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


  /* ---------------------------logInStyle------------- */

  /* ------------------------------------------------navBar-------------------------------------- */

  /* ------------------------------------------------footer-------------------------------------- */
 
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

  * {
    font-family: Open Sans;
  }
  
  section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }
  
  .footer-distributed{
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 18px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  var(--darkWhite3);
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:var(--darkWhite3);
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }
  
  
    /* ------------------------------------------------end Footer-------------------------------------- */
 
        /* ------------------------------------------------button-------------------------------------- */
       button:hover {
          transform: translateY(5px);
        }
button, .click{
width: 180px;
background-color: var(--darkWhite3);   
font-size :20px;
font-family:font2;
border:5px solid var(--darkWhite3); 
border-radius: 10px;
color: var(--darkWhite);  
      }